.history__header {
    font-size: 55px;
    color: #ffff;
    margin: 7px 50px 68px 50px;
    display: flex;
    justify-content: center;
    opacity: 0.68;
}

.list {
    max-width: 300px;
    min-height: 50px;
    background-color: #f5e5e7;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: 40px;
}

table {
    width: 300px;
    text-align: center;
    padding: 16px;
}