.progress {
    max-width: 300px;
    min-height: 50px;
    background-color: #f5e5e7;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
      
    margin-top: 40px;
    &__text {
        font-size: 20px;
        padding: 16px;
        overflow-wrap: break-word;
        text-align: center;
    }
}