@import "~normalize.css";
@import "modules/buttons.scss";
@import "modules/glass.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto";
}

main {
  background: #3767ad;
  min-width: 375px;
  min-height: 812px;
}

.title {
  font-size: 55px;
  color: #ffff;
  margin: 7px 50px 68px 50px;
  display: flex;
  justify-content: center;
  opacity: 0.68;
}


.info {
  padding: 16px;
  &__icon {
    height: 60px;
    width: 60px;
    }
}

