@import "~normalize.css";
@import "modules/buttons.scss";
@import "modules/glass.scss";
@import "modules/progress.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #3767ad;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto";
}

main {
  background: #3767ad;
  min-width: 375px;
  min-height: 750px;
  padding: 16px;
}

.title {
  font-size: 55px;
  color: #ffff;
  margin: 7px 50px 68px 50px;
  display: flex;
  justify-content: center;
  opacity: 0.68;
}


.menu {
    &__icon {
    height: 60px;
    width: 60px;
    }
}

.navigation {
  display: none;

  &__open {
    display: block;
    position: absolute;
    min-width: 300px;
    min-height: 50px;
    background-color: #f5e5e7;
    border: 2px solid #000;
    border-radius: 20px;
    z-index: 1;
  }
  &__link {
    color: black;
    display: block;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;

  }
}